/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* header */

header{
  width: 100%;
  height: 100px;
  padding-top: 20px;
  background-color: #FFF;
}

#nome{
    display: inline;
    text-align: center;
    font-size: 60px;
}

#logo{
    width: 60px;
}

body{
    background-color:#F6F8F9 ;
}

.container{
    border-radius: 10px 10px;
    width: 50%;
    margin: 40px auto;
    background-color: #FFF;
    padding: 10px 30px;
    line-height: 30px;
    font-size: 20px;
}

.bottoni{
    border-bottom: 3px solid #F6F8F9;
    width: 100%;
    padding-bottom: 10px;
}

#button1{
    font-size: 16px;
    background-color:#47ADF1;
    color: #FFF;
    border-radius: 8px;
    padding: 8px 12px;

}

#button2{
    border-color: rgb(163, 163, 163) ;
    font-size: 16px;
    background-color:#FFF;
    color: rgb(163, 163, 163);
    border-radius: 8px;
    padding: 8px 12px;
}

ul{
    list-style-type: none;
}

div{
    padding-top: 35px;
}

summary{
    font-weight: bold;
}

span{
    border-radius: 15px;
    padding: 4px 10px;
    color: #FFF;
    font-size: 12px;
}

.Editorial{
    background-color: #47ADF1;
}

.Q1{
    background-color:#9C72E4;
}

.Recruiting{
    background-color: #64C0A9;
}

.Mobile{
    background-color:#F29E33;
}

.Website{
    background-color: #D863A1;
}

.Sales{
    background-color:#B0C926;
}